In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir('groupsize')
Data = pd.DataFrame([])
for file in files:
    if file.endswith('csv'):
        data = pd.read_csv(f'groupsize/{file}')
        print(data.shape)
        Data = pd.concat((Data,data))

(900755, 14)
(1162321, 14)
(723700, 14)
(351524, 14)

In [3]:
Data.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,scientific_age,group_size,mentor_id,current_year,ratio_institution,last_pub_year,career_len,current_scientific_age
0,W1598914661,middle,A1510439193,I1299303238,1984,1982,2,2,A2084997818,1987,0.714286,2021.0,39.0,5
1,W121453258,first,A3207322400,I1299303238,1987,1987,0,2,A2084997818,1987,0.714286,1987.0,0.0,0
2,W196861196,first,A3207322400,I1299303238,1987,1987,0,2,A2084997818,1987,0.714286,1987.0,0.0,0
3,W1598914661,middle,A1510439193,I1299303238,1984,1982,2,3,A2084997818,1988,0.800000,2021.0,39.0,6
4,W121453258,first,A3207322400,I1299303238,1987,1987,0,3,A2084997818,1988,0.800000,1987.0,0.0,1

In [4]:
Data.to_csv('group_info_OnlyLastAuthorPaper(current_scientific_age).csv',index=0)