In [1]:
import pandas as pd

In [2]:
inpath = '/Users/yanmemgxing/Nutstore Files/scientific group/neuro/'

In [3]:
group_info = pd.read_csv(f'{inpath}group_info_OnlyLastAuthorPaper(current_scientific_age1213).csv')

In [4]:
group_info.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,scientific_age,group_size,mentor_id,current_year,ratio_institution,current_scientific_age,last_pub_year,career_len
0,W1982782877,first,A1135552249,I201448701,2006,2005,1,1,A2210051518,2006,0.750,1,2009.0,4.0
1,W1982782877,first,A1135552249,I201448701,2006,2005,1,2,A2210051518,2007,0.875,2,2009.0,4.0
2,W1737143051,first,A1975593598,I201448701,2007,1998,9,2,A2210051518,2007,0.875,9,2014.0,16.0
3,W1982782877,first,A1135552249,I201448701,2006,2005,1,12,A2210051518,2008,1.000,3,2009.0,4.0
4,W1737143051,first,A1975593598,I201448701,2007,1998,9,12,A2210051518,2008,1.000,10,2014.0,16.0

##### mentors

In [5]:
mentor = group_info['mentor_id'][group_info.current_year>=1980].drop_duplicates()

In [6]:
len(mentor)

21264

##### mentees

In [7]:
mentee = group_info['author_id'][group_info.current_year>=1980].drop_duplicates()
len(mentee)

576616

##### mentorship

In [8]:
mentee_mentor = group_info[['author_id','mentor_id']][group_info.current_year>=1980].drop_duplicates()

In [9]:
mentee_mentor.shape

(658489, 2)

##### works

In [10]:
G1_allWorks = pd.read_csv(f'{inpath}G1_allWorks_year.csv')

In [11]:
G1_allWorks.head(5)

       work_id  publication_year
0  W1000865391              2016
1  W1004263438              2012
2    W10055105              2008
3  W1017710698              1992
4  W1021782659              2013

In [12]:
G1_allWorks.shape

(5410717, 2)

In [13]:
print('mentor','mentee','mentorship','works')
print(len(mentor),len(mentee),len(mentee_mentor),len(G1_allWorks))

mentor mentee mentorship works
21264 576616 658489 5410717

In [14]:
20183 + 10103 + 21905

52191

In [15]:
772901 + 237821 + 546102

1556824

In [16]:
904958 + 277287 + 658459

1840704

In [17]:
7022504 + 3695676 + 5410717

16128897

In [18]:
2000*40

80000

In [19]:
2100*42

88200

In [20]:
1500*42

63000

In [25]:
772901/20183/20

1.914732695833127

In [28]:
237821/10103/20

1.1769820845293477

In [29]:
546102/21905/20

1.2465236247432094