In [2]:
import pandas as pd

In [3]:
inpath = '/Users/yanmemgxing/Nutstore Files/scientific group/chemistry/'

In [4]:
group_info = pd.read_csv(f'{inpath}group_info_OnlyLastAuthorPaper(current_scientific_age1213).csv')

In [5]:
group_info.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,scientific_age,group_size,mentor_id,current_year,ratio_institution,current_scientific_age,last_pub_year,career_len
0,W2138259155,first,A2223507391,I205783295,2004,2004,0,1,A2671777495,2004,1.0,0,2004.0,0.0
1,W2138259155,first,A2223507391,I205783295,2004,2004,0,3,A2671777495,2005,1.0,1,2004.0,0.0
2,W2085228080,first,A2760994840,I205783295,2005,2005,0,3,A2671777495,2005,1.0,0,2005.0,0.0
3,W2152099342,first,A2760994840,I205783295,2005,2005,0,3,A2671777495,2005,1.0,0,2005.0,0.0
4,W2152099342,middle,A2588414634,I205783295,2005,2005,0,3,A2671777495,2005,1.0,0,2005.0,0.0

##### mentors

In [6]:
mentor = group_info['mentor_id'][group_info.current_year>=1980].drop_duplicates()

In [7]:
len(mentor)

19137

##### mentees

In [8]:
mentee = group_info['author_id'][group_info.current_year>=1980].drop_duplicates()
len(mentee)

804171

##### mentorship

In [9]:
mentee_mentor = group_info[['author_id','mentor_id']][group_info.current_year>=1980].drop_duplicates()

In [10]:
mentee_mentor.shape

(904958, 2)

##### works

In [11]:
G1_allWorks = pd.read_csv(f'{inpath}G1_allWorks_year.csv')

In [12]:
G1_allWorks.head(5)

       work_id  publication_year
0  W1006909194              2021
1   W103460356              1984
2  W1037135555              2012
3   W103725739              2014
4   W105395097              2010

In [13]:
G1_allWorks.shape

(7022504, 2)

In [14]:
print('mentor','mentee','mentorship','works')
print(len(mentor),len(mentee),len(mentee_mentor),len(G1_allWorks))

mentor mentee mentorship works
19137 804171 904958 7022504