In [1]:
import pandas as pd

In [2]:
target_author = pd.read_csv('work_authorship.csv')

In [4]:
target_author.head(5)

       work_id author_position    author_id institution_id  publication_year
0  W1015054358           first   A271637905     I200719446              2008
1  W1015054358          middle  A2099306368     I204308271              2008
2  W1015054358          middle  A2116498896     I200719446              2008
3  W1015054358          middle  A2154523226     I161318765              2008
4  W1015054358          middle  A2122755604     I161318765              2008

In [3]:
career_span = pd.read_csv('career_span.csv')

In [5]:
career_span.head(5)

     author_id  first_pub_year  last_pub_year  career_len
0   A100443890            1985           2021          36
1    A10276863            2010           2022          12
2   A102980197            1994           2022          28
3  A1042434965            2004           2022          18
4   A106505410            2003           2008           5

In [6]:
target_author = target_author.merge(career_span,on='author_id',how='left')

In [9]:
target_author.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len,scientific_age
0,W1015054358,first,A271637905,I200719446,2008,1999,2022,23,9
1,W1015054358,middle,A2099306368,I204308271,2008,2005,2021,16,3
2,W1015054358,middle,A2116498896,I200719446,2008,2004,2021,17,4
3,W1015054358,middle,A2154523226,I161318765,2008,2008,2008,0,0
4,W1015054358,middle,A2122755604,I161318765,2008,1968,2021,53,40

In [8]:
target_author['scientific_age'] = target_author.publication_year - target_author.first_pub_year

In [10]:
target_author.to_csv('work_authorship.csv',index=0)